<%- include('../partials/header') %>


<h1>Your order has been submitted!</h1>

    <label>Name:</label>
    <%= orders.name %>
    <br>
    
    <label>Style:</label>
    <%= orders.style %>
    
    <br>
    
    <label>Servings:</label>
    <%= orders.servings %>
    
    <br>
    
    <label>Flavor:</label>
    <%= orders.flavor %>
    
    <br>
    
    <label>Date of Event:</label>
    <%= orders.date %>
<br>


    <div class="buttons">
        
        <a href="/orders/<%=orders._id%>/edit" class ="editbtn">Edit Order</a>

        <form action="/orders/<%=orders._id%>?_method=DELETE" method="delete">
            <button type="submit">Delete Order</button>
        </form>
    </div> 


<%- include('../partials/footer') %>
