<%- include('../partials/header') %>

    <label>Name:</label>
    <%= orders.name %>
    <br>
    
    <label>Style:</label>
    <%= orders.style %>
    
    <br>
    
    <label>Servings:</label>
    <%= orders.servings %>
    
    <br>
    
    <label>Flavor</label>
    <%= orders.flavor %>
    
    <br>
    
    <label>Date</label>
    <%= orders.date %>
    



<%- include('../partials/footer') %>
