<%- include('../partials/header') %>


<div class="edit-order">
  <h1>Edit Order</h1>

  <form action='/orders/<%=orders._id%>?_method=PUT' method="POST" id='new-form'>


  <label>Name:</label>
  <br>
  <input type="text" name="name" value="<%= orders.name %>"> 
  <br>

  <label>Style:</label>
  <br>

  <input type="text" name="style" value="<%= orders.style %>">
  <br>

  <label>Servings:</label>
  <br>

  <input type="text" name="servings" value="<%= orders.servings %>">
  <br>

  <label>Flavor:</label>
  <br>

  <input type="text" name="flavor" value="<%= orders.flavor %>">
  <br>

  <label>Date of Event:</label>
  <br>

  <input type="date" name="date" value="<%= orders.date %>">
  <br>


  <input type="submit" class="button" value="Submit">


</div>
</form>